body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

ul {
  list-style-type: none;
  padding: 0; }

.container {
  max-width: 1800px;
  margin: 0 auto; }

.padding {
  padding: 0 40px; }
  @media (max-width: 990px) {
    .padding {
      padding: 0 15px; } }

.wrapper {
  height: 700px;
  background: #000; }
  @media (max-width: 990px) {
    .wrapper {
      height: 1000px; } }

header {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 9999;
  padding: 10px; }

@media (max-width: 990px) {
  .hide-icon {
    padding: 10px 0; } }

.hide-icon .call-menu {
  display: none;
  height: 30px; }
  @media (max-width: 990px) {
    .hide-icon .call-menu {
      display: block; } }

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 990px) {
    .nav-menu {
      position: fixed;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      background: #fff;
      height: 100vh;
      width: 100vw;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      -webkit-transform: translateX(-200%);
          -ms-transform: translateX(-200%);
              transform: translateX(-200%); } }
  .nav-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    @media (max-width: 990px) {
      .nav-menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 0;
        padding: 25px 35px; } }
    .nav-menu ul li {
      padding: 4px 20px;
      cursor: pointer;
      border-left: .5px solid #fff; }
      @media (max-width: 990px) {
        .nav-menu ul li {
          border: none;
          padding: 20px 0;
          border-bottom: 1px solid #f2f2f2;
          width: 100%;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; } }
      .nav-menu ul li:hover .sub-menu {
        opacity: 1;
        pointer-events: auto; }
    .nav-menu ul li:first-child {
      border-left: none; }
      @media (max-width: 990px) {
        .nav-menu ul li:first-child a {
          color: #025ee8; } }
    .nav-menu ul li:last-child {
      border-right: none; }
      @media (max-width: 990px) {
        .nav-menu ul li:last-child {
          border-bottom: none; } }
      .nav-menu ul li:last-child a {
        color: #36b947; }
        .nav-menu ul li:last-child a::before {
          background: #36b947; }
          @media (max-width: 990px) {
            .nav-menu ul li:last-child a::before {
              display: none; } }
    .nav-menu ul .busket {
      position: relative;
      height: 20px;
      right: 5px;
      top: 2px; }
      @media (max-width: 990px) {
        .nav-menu ul .busket {
          display: none; } }
    .nav-menu ul a {
      font: bold 1.125rem 'Roboto', sans-serif;
      text-decoration: none;
      color: #fff;
      position: relative;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      @media (max-width: 990px) {
        .nav-menu ul a {
          color: #000; } }
      .nav-menu ul a:hover::before {
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1; }
      .nav-menu ul a::before {
        content: '';
        height: 3px;
        background: #025ee8;
        width: 100%;
        position: absolute;
        bottom: -5px;
        -webkit-transform: translateY(20px);
            -ms-transform: translateY(20px);
                transform: translateY(20px);
        opacity: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
    .nav-menu ul .active-elem-li a::before {
      content: '';
      height: 3px;
      background: #025ee8;
      width: 100%;
      position: absolute;
      bottom: -5px;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      @media (max-width: 990px) {
        .nav-menu ul .active-elem-li a::before {
          display: none; } }
  .nav-menu .sub-menu {
    position: absolute;
    background: #fff;
    top: 50px;
    left: -20px;
    width: 100%;
    pointer-events: none;
    -webkit-box-shadow: 4px 6px 55px 10px rgba(0, 0, 0, 0.09);
            box-shadow: 4px 6px 55px 10px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 999; }
    @media (max-width: 990px) {
      .nav-menu .sub-menu {
        display: none;
        position: relative;
        -webkit-transition: auto;
        -o-transition: auto;
        transition: auto;
        top: 0;
        left: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
        border-radius: none;
        background: transparent;
        opacity: 1;
        pointer-events: auto;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        top: 15px;
        margin-bottom: -5px; } }
    .nav-menu .sub-menu::before {
      content: '';
      height: 60px;
      width: 100%;
      position: absolute;
      background: transparent;
      top: -30px; }
      @media (max-width: 990px) {
        .nav-menu .sub-menu::before {
          display: none; } }
    .nav-menu .sub-menu li {
      border: none;
      padding: 10px 0;
      margin: 0 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 1px solid #d5d5d5;
      cursor: pointer; }
      @media (max-width: 990px) {
        .nav-menu .sub-menu li {
          margin: 0;
          border-bottom: 1px solid #f2f2f2; } }
      .nav-menu .sub-menu li:hover img {
        -webkit-transform: translateX(-3px);
            -ms-transform: translateX(-3px);
                transform: translateX(-3px); }
      .nav-menu .sub-menu li img {
        height: 20px;
        width: 20px;
        max-width: 100%;
        -o-object-fit: contain;
           object-fit: contain;
        display: block;
        margin-right: 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .nav-menu .sub-menu li a {
        color: #333333;
        font: 400 .9rem 'Roboto', sans-serif; }
        .nav-menu .sub-menu li a::before {
          display: none; }
    .nav-menu .sub-menu li:first-child {
      border-left: none; }
      @media (max-width: 990px) {
        .nav-menu .sub-menu li:first-child {
          border-top: 1px solid #f2f2f2; } }
      @media (max-width: 990px) {
        .nav-menu .sub-menu li:first-child a {
          color: #333333; } }
    .nav-menu .sub-menu li:last-child {
      border-right: none; }
      @media (max-width: 990px) {
        .nav-menu .sub-menu li:last-child {
          border: none; } }
      .nav-menu .sub-menu li:last-child a {
        color: #333333; }
        .nav-menu .sub-menu li:last-child a::before {
          display: none; }

.close-menu {
  display: none; }
  @media (max-width: 990px) {
    .close-menu {
      position: absolute;
      right: 0;
      top: 0;
      background: #025ee8;
      padding: 5px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      z-index: 9999; } }
  .close-menu img {
    height: 25px; }

.active-menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

@media (max-width: 990px) {
  .main-element {
    position: relative; } }

.arrow-mob {
  display: none; }
  @media (max-width: 990px) {
    .arrow-mob {
      position: absolute;
      height: 30px;
      width: 30px;
      font: 400 .95rem 'Roboto', sans-serif;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: #025ee8;
      border-radius: 4px;
      position: absolute;
      right: 0;
      top: 15px;
      color: #fff;
      z-index: 9999; } }
  .arrow-mob::before {
    content: '+'; }

.scroll {
  overflow-y: scroll; }

.minus::before {
  content: '-'; }
